[Unit]
Description=Gunicorn daemon for Chat Backend
After=network.target postgresql.service redis-server.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/chat_backend
Environment="PATH=/var/www/chat_backend/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=chat_backend.settings_prod"
Environment="PYTHONUNBUFFERED=1"
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
LogsDirectory=gunicorn
LogsDirectoryMode=0775

# Create required directories
ExecStartPre=/bin/mkdir -p /var/log/gunicorn /run/gunicorn
ExecStartPre=/bin/chown -R www-data:www-data /var/log/gunicorn /run/gunicorn
ExecStartPre=/bin/chmod -R 775 /var/log/gunicorn /run/gunicorn

# Start Gunicorn
ExecStart=/var/www/chat_backend/venv/bin/gunicorn \
    --config /var/www/chat_backend/gunicorn_config.py \
    --log-level debug \
    --capture-output \
    --error-logfile /var/log/gunicorn/error.log \
    --access-logfile /var/log/gunicorn/access.log \
    chat_backend.asgi:application

# Restart settings
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 